.mainPageForm{
 text-align: center;
 padding-top: 60px;
}


.mainHeader{
 text-align: center;
 padding-top: 15%;

}

.mainHeader h1{
 word-wrap: break-word;
 color: white;
}

.mainContent{

 border-radius: 5px;
 height: 100%;
 padding: 20px;
 padding-left: 5px;
 margin-left: 25%;
 margin-right: 25%;
 padding-right: 8px;

}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border-radius: 50% !important;
    font-size: 94px !important;
    padding: 20px !important;
}

.answersTable{
 margin-left: auto;
 margin-right:auto;

}

.answersTable td{
 text-align: left;
 padding-left: 20px;
 word-wrap: break-word;
}

.QuestionForm{
 margin-top: 15%;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 color: white;
 width: 50%;
 border: 1px solid;
 border-radius: 25px;
}

.quizScoreForm{
 margin-top: 52px;
 margin-left: auto;
 margin-right: auto;
 text-align: center;
 color: white;
 width: 50%;
 border: 1px solid;
 border-radius: 25px;
 padding-right: 8px;
 padding: 20px;
 
}

.close{

 font-size:40px !important;
 color:red !important;
 padding-right: 5px !important;

}

#numQuestions{
 float: left;
 font-size: 20px;
 padding-top: 10px;
 padding-left: 5px;
}

#nextBtn{

 text-align: right;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-top: 20px;

}

#questionlbl{
 font-size: 30px;
}

#generallbl{
 float: left;
 padding-left: 15px;
 padding-bottom: 10px;
}

#generaltxt{
 width:95%;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 4px;
 resize: vertical;
}

.buttons{
 margin-top: 10px;
 width:100%;
 margin-bottom: 10px;
}

#savebtn{
 margin-left: 0px;
 float: left;
 width: 100%;
}

#returnbtn{
 margin-left: 0px;
 width: 100%;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text]{
 width: 75%;
 padding: 6px;
 border: 1px solid #ccc;
 border-radius: 4px;
 resize: vertical;
 

}

.finalQuestions{
 float: left;
}

.Correct{
 background-color: #009900;
 color: white;
 width: 75%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
}

.Incorrect{
 background-color: #ff3232;
 color: white;
 width: 75%;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
}

.alert{

 margin-top: 10px;

}


@media screen and (max-width: 450px) {
    .mainHeader h1 {
       font-size: 20px;
       padding-top: 20px;
     }
    .btn-success{
      font-size: 45px !important;
      padding: 20px !important;
    } 
    .QuestionForm{
      width: 95%;

    }
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
	padding-top:5px;
    }
    
}
@media screen and (max-width: 1560px) {
.quizScoreForm{
       width: 70%;

    }
}